<!DOCTYPE html>
<html>

<head>

<title>A Music</title>

<link rel="stylesheet" href="/css/style.css">

</head>

<body>

<header>

<h1>A Music</h1>

<input id="searchBox" placeholder="Search songs...">

<button onclick="search()">Search</button>

</header>

<section id="artists">

<h2>Top EDM Artists</h2>

<div class="artist">Martin Garrix</div>

<div class="artist">Alan Walker</div>

<div class="artist">Avicii</div>

<div class="artist">Marshmello</div>

</section>

<section>

<h2>Trending Songs</h2>

<div id="trending"></div>

</section>

<section>

<h2>Search Results</h2>

<div id="results"></div>

</section>

<footer>

<div id="player">

<img id="cover">

<div>

<h3 id="title">No song</h3>

<audio id="audio" controls></audio>

</div>

</div>

</footer>

<script src="/js/script.js"></script>

</body>

  </html>
