body{

background:#0a0a0a;

color:white;

font-family:Arial;

margin:0;

}

header{

background:black;

padding:20px;

text-align:center;

}

h1{

color:#00f2ff;

}

input{

padding:10px;

width:250px;

border-radius:5px;

border:none;

}

button{

padding:10px;

background:#ff00ff;

border:none;

color:white;

cursor:pointer;

}

section{

padding:20px;

}

.artist{

display:inline-block;

padding:15px;

background:#111;

margin:10px;

border-radius:10px;

}

.song{

background:#111;

padding:10px;

margin:10px;

border-radius:10px;

display:flex;

align-items:center;

gap:10px;

}

.song img{

width:60px;

border-radius:5px;

}

.song button{

margin-left:auto;

}

footer{

position:fixed;

bottom:0;

width:100%;

background:black;

padding:10px;

}

#player{

display:flex;

align-items:center;

gap:10px;

}

#cover{

width:50px;

  }
